.game {
    width: fit-content;
    height: fit-content;
}
.row{
    width: fit-content;
    height: fit-content;
}
.column {
    float: right;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color:wheat;
    color:rebeccapurple;
    transition: 0.1s;
    
}
.column:hover{
    color: brown;
    transform: scale(1.2);
    z-index: 2;
}
.button{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.button:hover{
    background-color: rebeccapurple;
    color: beige;
}
.scoreBoard{
    padding: 100px;
}
.parent {
    width: 99vw; 
    height: 48vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
p {
    font-size: xx-large;
}
button {
    font-size: xx-large;
}
h1 {
    color: blueviolet;
    background-color: wheat;
    padding: 5%;
    transition: 1s;
}
h1:hover{
    transform: scale(1.2);
    z-index: 2;

}
@media screen and (max-width: 700px){
    .column {
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width: 450px){
    .column {
        width: 70px;
        height: 70px;
    }
    .scoreBoard{
        padding: 0px;
    }
}
@media screen and (max-width: 250px){
    .column {
        width: 50px;
        height: 50px;
    }
    .scoreBoard{
        padding: 0px;
        
    }
    p {
    font-size: x-large;
    }
    button {
        font-size: x-large;
    }
}
@media screen and (max-height: 700px){
    
}